
.btn{
	font-size: 28rpx;
}


//顶部
.top {
  margin: 10px auto;
  color: #222;
  font-weight: bold;
  max-width: 370px;
  font-size: 14px;
}


.mineSweeper-level{
	min-height: 80vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}